@media screen and (max-width: 1200px) {
  body {
    background-color: orange;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-color: yellow;
  }
}

@media screen and (min-width: 560px) {
  body {
    background-color: red;
  }
}

/* GSC7NNMKHZ */
